<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240896541972-ljeei0d6oi9kp3758nkd8rgl2tet7lth.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240896541972-ljeei0d6oi9kp3758nkd8rgl2tet7lth</string>
	<key>API_KEY</key>
	<string>AIzaSyDXC4bcuSK60KXuXq9GkdL0UoyPYy4pTcY</string>
	<key>GCM_SENDER_ID</key>
	<string>240896541972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zwymobile.foundlost</string>
	<key>PROJECT_ID</key>
	<string>opo-tool</string>
	<key>STORAGE_BUCKET</key>
	<string>opo-tool.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240896541972:ios:f7fac7dfd9c98513106e01</string>
</dict>
</plist>